{{ $pageName := lower (replace .Page.File.BaseFileName " " "-") }}
{{ $images := index (index .Site.Data "meta") $pageName "images" }}

{{ if $images }}
    {{ $sorted := sort $images "order" }}
    <div class="image-grid-container">

        <div class="selector-column">
            {{ $firstProcessed := 0 }}
            {{ range $index, $val := $sorted }}
                {{ $imagePath := resources.Get (printf "./thumbnails/%s/%s" $pageName .file) }}
                {{ $image := $imagePath.Process "png"}}

                {{ $w := $image.Width}}
                {{ $h := $image.Height}}
                {{ $ratio := div (float $w) (float $h)}}

                {{ if gt $ratio 1.0 }}
                    {{ if gt $w 1920}}
                        {{ $image = $image.Resize "1920x"}}
                    {{ end }}
                {{ else }}
                    {{ if gt $h 1920}}
                        {{ $image = $image.Resize "x1920"}}
                    {{ end }}
                {{ end }}


                {{ if not $index}}
                    {{ $firstProcessed = $image }}
                {{ end}}
                <a href="{{ .pagepath }}" tabindex="-1">
                <button 
                    class="thumbnail-button"
                    data-src="{{ $image.RelPermalink }}"
                    data-title="{{ .title }}"
                    data-caption="{{ .caption }}"
                    data-href="{{ .pagepath }}"
                >
                    {{ .title }}
                </button>
                </a>
            {{ end }}
        </div>

        <div class="preview-column">
            {{ $firstImage := (index $sorted 0)}}
            <a id ="preview-link" class = "no-lightbox" href= "{{ $firstImage.pagepath }}">
                <img id="preview-image" src="{{ $firstProcessed.RelPermalink }}" alt="">
            </a>
            <div class="preview-text">
                <h2 id="preview-title"> {{$firstImage.title}}</h2>
                <p id="preview-caption"> {{$firstImage.caption}}</p>
            </div> 
        </div>

        <div class="mobile-selection-container">
            <a id="mobile-prev"><</a>
            {{ range $index, $val := $sorted }}
                <button class="mobile-selector" data-src="{{$index}}"></button>
            {{ end }}
            <a id="mobile-next">></a>
        </div>
    </div>

{{ else }}
  <p>No images found for "{{ $pageName }}"</p>
{{ end }}
