{{ $src := string (.Get "src") }}


{{- $image := resources.Get (printf "%s" $src) -}}
{{ $image := $image.Process "resize x600" }}

{{ $w := $image.Width}}
{{ $h := $image.Height}}

<div class="sprite-player"></div>

<style>
    .sprite-player {
        width: {{ div $w 8}}px;
        height: {{ $h }}px;
        background-image: url('{{ $image.RelPermalink }}');
        animation: playstrip 3s steps(8) infinite;
    }

    @keyframes playstrip {
        100% { background-position: -{{$w}}px;};
    }

</style>